
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background: linear-gradient(9deg, #2d5c9b 19.67%, #c2ec09 127.56%);
  }
  
  .backBtn {
    background-color: #1e90ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 12%;
  }
  
  .backBtn:hover {
    background-color: #162e46; 
  }